.pricing-badge
    .pricing-badge__text-1
        |We’ve cut the price in half. But now or miss out!
    .pricing-badge__text-2
        |Use promo-code #[span BLACKFRIDAY]
    .pricing-badge__text-3
        |at checkout to #[span save up to $3468.]