.pricing-hero
    .page-container
        .pricing-hero__inner
            .pricing-hero__bg-text
                | 50<span>%</span>
            .pricing-hero__row
                .pricing-hero__col-1
                    h2.pricing-hero__subtitle
                        |50<span>%</span> OFF
                    h1.pricing-hero__title
                        |ALL ANNUAL PLANS
                .pricing-hero__col-2
                    include _pricing-badge
            